<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yltx.appcn">

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="name,icon, label,roundIcon,theme">
        <activity
            android:name=".base.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".MainActivity"></activity>-->
        <!--<activity android:name=".login.LoginActivity"></activity>-->
        <activity android:name=".pwd.FindPwdActivity"></activity>
        <activity android:name=".modifypwd.ModifyPwdActivity"></activity>
        <activity android:name=".message.MessageActivity"></activity>
        <activity android:name=".cardetail.CarDetailAvtivity"></activity>

        <activity android:name=".other.SettingActivity"></activity>

        =
        <activity android:name=".MainActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".main.orderlist.OrderListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".main.orderlist.orderdetail.OrderDetailActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>

    </application>

</manifest>